

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 700px;
  margin: 30px 3% 10px 3%;
  /*border: 3px pink solid;*/
  /*background-color: black;*/
}

.carousel-inner {
  /*border: 3px blue solid;*/
  height: 100%;
}

.item {
  margin: 0 2% 0 2%;
  height: 700px;
  /*border: 3px orange solid;*/
  /*background-color: #777;*/
  color: #fff;
}

.item h3 {
 /* border: 3px pink solid;*/
  text-align: center;
  font-size: 40px;
}

.item p {
  width: 38%;
  height: 400px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
  color: #fff;
}
