/* Google Maps Map */
#map-canvas {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    border: 2px #FFFFFF;
}

/* Mapbox Map */
#current_location_map { 
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    border: 2px #FFFFFF;
}

/* Above formatting in line form */
