/* Google Maps Map */

/* Debug */
/** {
    border: 1px solid red;
}*/

#map-canvas {
    max-width: 80%;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    border: 2px #FFFFFF;
    border-radius: 210px;
}

/* -------------------------- */

#earth_div {
    width: 60%;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    border: 2px #FFFFFF;
    float: left;
    /*border: 1px solid purple;*/
}

#earth_div_left {
    width: 19.9%;
    height: 700px;
    float: left;
    border: 1px solid yellow;
}

#earth_div_right {
    width: 19%;
    height: 700px;
    float: right;
    border: 1px solid blue;
}

/*.earth_div_container {*/
  /*  border: 1px solid green;*/
/*}*/

/* -------------------------- */

.small_white_square {
    background-color: white;
    width: 40px;
    height: 20px;
}

.webgl_controllers {
    display: inline;
}

#rotate-button {
    text-align: center;
    float: right;
    display: inline;
    width: 40px;
}

.stop_moving_offestter_box {
    height: 50%;
    width: 100%;
    /*border: 2px solid white;*/
}

/*style="width: 700px;height: 700px;margin: 0 auto;padding: 0;border: 2px #FFFFFF; touch-action: non;*/

/* Above formatting in line form */
