/*
 * Title styling for small celestial word
 * placed in bottom right corner of top div
 */

.title {
  color: white;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10%;
  font-family: 'Open Sans', cursive;
}

.celestial {
  font-size: 70px;
  color: white;
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 0;
  margin-right: 10%;
  font-family: 'Open Sans', cursive;
}
