<div id="graphCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <h2>Meteorites by Hemisphere</h2>
      <div id="chart"></div>
    </div>
    <div class="item">
      <h2>Meteorites by Decade</h2>
      <div id="chart2"></div>
    </div>
  </div>
</div>
