<div class="bcg-chart">

  <h2 class="chart_title">Meteorites by Decade</h2>
  <div id="chart2"></div>
  <h4>The total number of meteorite discovered by decade since 1800.</h4>
  <h2>Meteorites by Hemisphere</h2>
  <div id="chart"></div>
  <h4 class="chart_h4">The percentage of meteorite strikes by hemisphere since 1800.</h4>
</div>

