<div class="bcg"><br><br>
  <h2>Meteorite Strikes per Year</h2>
  <h4>Discover how many meteorites have struck the earth by year. Larger circles indicate a more massive meteorite.</h4>
  <div id="map-canvas"></div>

  <div id="slider" class="year_slider"></div>
  <div id="min_year">1800</div>
  <div id="max_year">2013</div>
  <input id="year_indicator" value="1800">
  <%=image_tag "play.png", {id: "play_button"}%>

  <h4>Press play to see a timelapse of meteorite strikes or type in a specific year above and hit enter.</h4>
</div>
