<div class="bcg">
  <h2>Meteorite Strikes per Year</h2>
  <div id="map-canvas"></div>
  <div id="slider" class="year_slider"></div>
  <div id="min_year">1800</div>
  <%=image_tag "play.png", {id: "play_button"}%>
  <div id="max_year">2013</div>
  <input id="year_indicator" value="1800">
</div>
