     <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
              <h3>Meteorites</h3>
              <p>
                Our Earth provides an atmosphere and home for animals and plants unlike any other planet we know of. Earth does this as a member of our Solar System that we share with diverse bodies of mass including a star, other planets, many moons, comets, asteroids and countless meteorites. Meteorites are crumbs of asteroids and comets that come to stay with us here on Earth. This is celestial, a site that presents meteorites through profiles, pictures, graphs, maps and a globe.
              </p>
            </div>
            <div class="item">
              <h3>Willamette Meteorite</h3>
              <p>
                The Willamette meteorite was discovered in Oregon and remains the largest meteorite found in the North American continent. It was discovered in modern times by the settler Ellis Hughes in 1902. Hughes did not own the land but knew it was an important find so he secretly moved the 14,000 kg meteorite to his own land over the next 90 days. His It has religious significance to the Grand Ronde Native American Tribes of that region, they call it Tomanowos. The Willamette Meteorite has a distinct spongy appearance because its time on earth caused chemical reactions to produce acid that wore away parts of the original mass. Both of these featured picutres were taken in the American Museum of Natural History. The picture with the boys was taken in 1910; the meteorite is still in the Museum, but we can't sit in it anymore.
              </p>

              <div class="figure_div">
                <figure>
                    <img alt="willamette" src="/assets/willamette.png">
                    <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>

<!--
              <p> The court record of Hughes losing his lawsuit: </p>
              <a href="https://books.google.com/books?id=2QwLAAAAYAAJ&pg=PA572&ci=101%2C493%2C839%2C418&source=bookclip"><img src="http://books.google.com/books?id=2QwLAAAAYAAJ&pg=PA572&img=1&zoom=3&hl=en&sig=ACfU3U2bBGoJo7GYCZZ4JdSW10dSpdZ-mw&ci=101%2C493%2C839%2C418&edge=0"/></a> -->
            </div>
            <div class="item">
              <h3> Hoba Meteorite</h3>
              <p>
              The Hoba is the largest meteorite known on Earth and it was scientifically discovered in 1920. It is also the most massive naturally ocurring piece of iron (Fe) on the surface of the Earth. As the graph here shows the Hoba is 84% iron with a mass of 60 metric tons - 50 tons of iron. You may also notice the flatness of the object as well. Scientists theorize the Hoba meteorite skipped across our Earth's airspace like a flat stone over water since air is also a fluid and remained in one piece. The atmosphere could provide enough resistance to even an object this massive at its outer edge. This picture is of German geologists surveying the Hoba Meteorite in 1929.
              </p>

              <div class="figure_div">
                <figure>
                    <img alt="hobo" src="/assets/hoba.png">
                    <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>

            </div>
            <div class="item">
              <h3> Cape York Meteorite</h3>
              <p>
              This is a piece of the Cape York Meteorite, a collection of parts known to the Inuit community in several distinct parts including the Tent, the Man, the Woman and the Dog in their native language. It was discovered scientifically in 1818, but like many of the meteorites we profile it probably fell to Earth more than 10,000 years ago. On our time slide the Cape York Meteorite impact is featured in 1818, look how far north it was first documented. The picture featured here is of the largest piece, the Tent, or Ahnighito traditionally. There is also a map showing the several locations of meteorite fragments as it split apart when it entered our atmosphere.
              </p>
              <div class="figure_div">
                <figure>
                    <img alt="ahnighito" src="/assets/ahnighito.png">
                    <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>
            </div>

            <div class="item">
              <h3> Sikhote-Alin Meteorite</h3>
              <p>
              This meteorite landed in Russia relatively recently on February 12, 1947 at 10:38 AM. Its recent landing means we have many first hand accounts about the actual landing as well as the aftermath of the event. One of the most striking eyewitness descriptions say the bolide released in the event was brighter than our sun. The eyewitness accounts also said the sound could be heard for 300km and a 30km long pillar of smoke behind the objects was visible for hours after the fall. Scientists estimate as much as 100 metric tons of debris came into our atmosphere on that day, by the time it hit the Earth our NASA data say it had a mass of 23 metric tons. The black and white photograph featured here shows someone attempting to retrieve a large fragment of the meteorite using a truck.
            </p>

              <div class="figure_div">
                <figure>
                    <img src="/assets/sikhotefall.png">
                    <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>
            </div>


            <div class="item">
              <h3> Sikhote-Alin Meteorite Stamp</h3>
              <p>
              The artist P.I. Medvedev was sitting at his window during the meteorite strike, shown here is his painting of the thick pillar of smoke resulting from the fall.</p>

              <div class="figure_div">
                <figure>
                    <img src="/assets/stamp.png">
                    <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>

            </div>
            <div class="item">
              <h2>Meteorites by Hemisphere</h2>
              <div id="chart"></div>
            </div>
            <div class="item">
              <h2>Meteorites by Decade</h2>
              <div id="chart2"></div>
            </div>
          </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
           <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
          <li data-target="#myCarousel" data-slide-to="9"></li>
        </ol>
    </div>
