<div class="bcg">
  <div class="earth_div_container">
    <div id="earth_div_left">
      <div class="stop_moving_offestter_box"></div>
      <div class="stop_moving"><button>Stop Moving</button></div>
    </div>
    <div id="earth_div"></div>
    <div id="earth_div_right"></div>
  </div>
</div>