<div class="bcg">

  <div class="earth_div_container clearfix">
    <br><br>
      <h2>Top 100 Meteorites By Mass</h2>
       <h4>Discover where the biggest meteorites have struck Earth since 1800. Click on a blue marker to find out more.</h4>
    <div id="earth_div_left">
      <div class="stop_moving_offestter_box">
        <div class="plusZoomContainer">
          <%=image_tag "plus_button_512.png", {class: "plusZoom"}%>
        </div>
        <div class="minusZoomContainer">
          <%=image_tag "Ambox_Minus.png", {class: "minusZoom"}%>
        </div>
      </div>
      <%=image_tag "stop.png", {id: "rotate-button"}%>
    </div>
    <div id="earth_div"></div>
    <div id="earth_div_right"></div>

  </div>
</div>
