<div class="bcg">

  <div class="earth_div_container clearfix">
    <br><br>
      <h2>Largest Meteorite Strikes by Mass</h2>
    <div id="earth_div_left">
      <div class="stop_moving_offestter_box"></div>
      <%=image_tag "stop.png", {id: "rotate-button"}%>
    </div>
    <div id="earth_div"></div>
    <div id="earth_div_right"></div>
  </div>
</div>
