<div class="bcg">
  <div class="webgl_controllers">
    <div class="stop_moving">
      <button>Stop Moving</button>
    </div>
    <div class="small_white_square">
      <i class="plusZoom fa fa-plus-square"></i>
      <i class="minusZoom fa fa-minus-square"></i>
    </div>
  </div>
  <div id="earth_div">
  </div>
</div>