
<div id="preload">
  <img src="assets/openingpicture.jpg">
  <img src="assets/bcg_slide-2.jpg">
  <img src="assets/bcg_slide-3.jpg">
  <img src="assets/main.jpg">
  <img src="assets/finalpic.jpg">
</div>

<main>
  <section id="slide-main" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <h1 class="title">Celestial</h1>
      </div>
    </div>
  </section>

  <div id='cssmenu'>
    <ul>
      <li><a href="#slide-main">Home</a></li>
      <li><a href='#slide-metes'>Notable Meteorites</a></li>
      <li><a href='#slide-webgl'>Globe</a></li>
      <li><a href='#slide-chart'>Impacts</a></li>
      <li><a href='#slide-googlemap'>Charts</a></li>
    </ul>
  </div>

  <section id="slide-metes" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <%= render "interesting_meteorites" %>
      </div>
    </div>
  </section>

  <section id="slide-webgl" class="homeSlide">
      <div class="hsContainer">
        <%= render "webgl" %>
      </div>
  </section>

  <section id="slide-chart" class="homeSlide">
    <div class="hsContainer">
      <%= render "google_map" %>
    </div>
  </section>

  <section id="slide-googlemap" class="homeSlide">
    <div class="hsContainer">
      <%= render "charts"%>
    </div>
  </section>

  <section id="slide-final" class="homeSlide">
    <div class="bcg">
        <div class="hsContainer">
        </div>
    </div>
  </section>

</main>
