
<div id="preload">
  <img src="assets/openingpicture.jpg">
  <img src="assets/bcg_slide-2.jpg">
  <img src="assets/bcg_slide-3.jpg">
  <img src="assets/main.jpg">
</div>

<main>

  <section id="slide-1" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <h1 class="title">Celestial</h1>
      </div>
    </div>
  </section>

  <div id='cssmenu'>
    <ul>
      <li class='active'><a href="#slide-2">Introduction</a></li>
      <li><a href='#slide-3'>Time Slide</a></li>
      <li><a href='#slide-4'>Globe</a></li>
      <li><a href='#slide-5'>Graphics</a></li>
      <li><a href='#slide-6'>Graphics</a></li>
      <li><a href='#slide-7'>Prehistoric Impacts</a></li>
    </ul>
  </div>


  <section id="slide-2" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <h2>Time Slide</h2>
        <div id="map-canvas"></div>
        <div id="slider" class="year_slider"></div>
        <div id="min_year">1800</div>
        <%=image_tag "play.png", {id: "play_button"}%>
        <div id="max_year">2013</div>

        <input id="year_indicator" value="1800">
      </div>
    </div>
  </section>

  <section id="slide-3" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <div class="webgl_controllers">
          <div class="stop_moving">
            <button>Stop Moving</button>
          </div>
          <div class="small_white_square">
            <i class="plusZoom fa fa-plus-square"></i>
            <i class="minusZoom fa fa-minus-square"></i>
          </div>
        </div>
        <div id="earth_div">
        </div>
      </div>
    </div>
  </section>

  <section id="slide-4" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <h2>Meteorites by Hemisphere</h2>
        <div id="chart"></div>
      </div>
    </div>
  </section>

  <section id="slide-5" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
      </div>
    </div>
  </div>
</section>

<section id="slide-6" class="homeSlide">
  <div class="bcg">
    <div class="hsContainer">

    </div>
  </div>
</section>

<section id="slide-7" class="homeSlide">
  <div class="bcg">
    <div class="hsContainer">

    </div>
  </div>
</section>

<section id="slide-8" class="homeSlide">
  <div class="bcg">
    <div class="hsContainer">

    </div>
  </div>
</section>

</main>

