
        <div id="preload">
          <img src="assets/openingpicture.jpg">
          <img src="assets/main.jpg">
          <img src="assets/bcg_slide-2.jpg">
          <img src="assets/bcg_slide-3.jpg">
          <img src="assets/main.jpg">
        </div>

        <main>

          <section id="slide-1" class="homeSlide">
            <div class="bcg">
              <div class="hsContainer">


              </div>
            </div>
        </section>

        <section id="slide-2" class="homeSlide">
          <div class="bcg">
            <div class="hsContainer">
                <div id="map-canvas"></div>
              </div>
          </div>
        </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">
              <div id="earth_div"></div>
            </div>
          </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg">
            <div class="hsContainer">

            </div>

          </div>
      </section>

    </main>

